<!DOCTYPE html>
<html>
  <head>
    <title>My  Vue App</title>
    <script src="../Scripts/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <button v-on:click="show=!show">Show / Hide</button>
      <p v-if="show">I'm part-time visible</p>
      <p v-else>Am i visible?</p>
      <p v-show="show">Hurry, I'm here!</p>
      <hr>
      <ul>
        <li v-for="(person,index) in persons">{{person.name}} - {{index}}</li>
      </ul>
    </div>
  <script src="Scripts/5_3.js"></script>
  </body>
</html>
